<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Mogenerator.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>Swipes copy.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>19</integer>
		</dict>
		<key>Swipes.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>A74EF18E198FCC8200841A46</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A7778CC916EB5884004D95E5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A7778CEF16EB5884004D95E5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A7F0B9B71700BA40003BBDD1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
