
*{
	margin:0;
	padding:0;
	text-decoration:none;
	list-style:none;
	outline:none;
	font-family:Helvetica, Arial, sans-serif;
	color:#333;
    /*-webkit-touch-callout: none;
    -webkit-user-select: none; Disable selection/copy in UIWebView */
}

body {
    padding-right:10px;
    padding-left:10px;
    background:white;
}
